:root {
  box-sizing: border-box;
  font-size: 1.875rem;
  font-family: "Rubik", sans-serif;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
 
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  outline: 0 none;
}

body{
  background-color: var(--green);
  width: 100vw;
  height: 100vh;
}
/* section{
  background-color: var(--dark);
  width: 50vw;
  height: 50vh;
}
div{
  background-color: var(--yellow);
  width: 25vw;
  height: 25vh;
} */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
form,input,button {
  width: 60%;
  background-color: var(--blue);
  padding: 1em;
  margin: 1em auto;
}
button,input{
  width: 100%;
}
button {
  background-color: var(--dark);
  color: white;
  border-radius: .3rem;
}
input {
  background-color: white;
  color: var(--dark);
}

/* Bootstrap breakpoints /
/ Small devices (landscape phones, 576px and up) /
@media (min-width: 576px) { 
    / here your code /
 }

/ Medium devices (tablets, 768px and up) /
@media (min-width: 768px) { 
    / here your code /
 }

/ Large devices (desktops, 992px and up) /
@media (min-width: 992px) { 
    / here your code /
 }

/ X-Large devices (large desktops, 1200px and up) /
@media (min-width: 1200px) {
    / here your code /
 }

/ XX-Large devices (larger desktops, 1400px and up) /
@media (min-width: 1400px) {
    / here your code */
/* } */
